<header>
<h1>{{shop.name}}</h1>
{% comment %} {{ brand.logo.image | image_url: width: 200 | image_tag}} {% endcomment %}
{{ brand.colors}}
{{ brand.cover_image.image | image_url: width: 200 | image_tag}}
{% comment %} {{ brand.favicon_url.image | image_url: width: 200 | image_tag }} {% endcomment %}
{{ brand.metafields}}
{{ brand.slogan }}
<ul>
  {% for link in linklists.main-menu.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
  </ul>
  
  </header>