<header>
<h1>{{shop.name}}</h1>
{{ brand.colors}}
{{  brand.logo.image | image_url: width: 300 | image_tag }}
{{ brand.metafields}}
{{ brand.slogan }}
<ul>
  {% for link in linklists.main-menu.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
  </ul>
  
  </header>