{% form 'cart', cart %}
  <h1>Your cart</h1>
{% if cart.empty? %}
  <p>Your cart's empty</p>
  {% else %}
  {% for item in cart.items %}
    <div>
      <img src="{{ item.image | image_url}}" width="200px"  height="auto"/>
    <h2> {{ item.title }}</h2>
    <h2> {{ item.price | money }}</h2>

    <input name="updates[]" value="{{ item.quantity }}">
    <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{{ item.url_to_remove }}">Remove</a>
    
    </div>

  {%  endfor %}

  <hr>

    <p>Total: {{ cart.total_price | money }}</p>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" name="update">Update</button>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" name="checkout">Checkout</button>

  {% endif %}
  {%  endform %}