{% comment %} 
<div class="wrapper">
    {% for product in collections.all.products %}
        <div class="product">
          <h2>{{ product.title }}</h2>
          <p>{{ product.price | money }}</p>
          <img src="{{ product | image_url }}" width="200px" height="auto">
          <a href="{{ product.url }}">View Product</a>
        </div>
      {% endfor %}
     </div>
 {% endcomment %}

 {% for product in collections['вечерние-платья'].products %}
 {{- product.title | link_to: product.url }}
{% endfor %}  