

<div class="product">
  <h1>{{ product.title }}</h1>
  <p>{{ product.price | money }}</p>

  <p>{{ product.description }}</p>
{%  form 'product',product %}
<select name="id">
{% for variant in product.variants %}
<option value={{ variant.id }}>
{{ variant.title }}
</option >
{%  endfor %}
</select>
{%  endform %}
  <form action="/cart/add" method="post">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Add to Cart</button>
  </form>
</div>
